/* src/pages/Checkout.css */
.checkout-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow-y: auto;
  height: 80vh; /* Para permitir el scroll dentro del contenedor */
}

.loading {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #007bff;
}


h1 {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-size: 2rem;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-10px);
}

.recipe-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #f2f2f2;
}

.recipe-info {
  padding: 20px;
}

.recipe-info h2 {
  color: #007bff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.recipe-info p {
  font-size: 1rem;
  color: #555;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #28a745;
  margin: 10px 0;
}

.add-to-cart {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

.view-detail-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.view-detail-link:hover {
  color: #0056b3;
}
